/* main.css for Jetsonville capstone page */

/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*@import url(font-awesome.min.css);*/
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');*/
@font-face {
  font-family: "jetsonvillereg0025-regular";
  src: url("fonts/jetsonvillereg0025-regular-webfont.woff2") format("woff2"),
  url("fonts/jetsonvillereg0025-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.fs-jetsonvillereg0025-regular {
  font-family: 'jetsonvillereg0025-regular';
}
html {
       font-family: 'jetsonvillereg0025-regular';
    font-size: 6vw;
    line-height: 7vw;
    text-align: center; 
 /*   margin: 0;
    padding: 0;*/
  }
.sky {
  /* The image used */
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw; 

  /* Create the parallax scrolling effect */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; 
    position: relative;
     position: sticky;
  position: -webkit-sticky;
  top: 0;

}



.bkblue {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #72CDFF;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}

.bkyel {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #FFFFD7;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.bkpink {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #F6DEE7;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.bkturq {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #AFEEEE;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.bkcoral {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #FFD0B1;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.bkviolet {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #E2CFF0;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.bkmint {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #D6F5CC;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}
.bkmary {
  /* The image used 
  background-image: url("images/Animation_stage_web_1440x960.jpg");

  /* Set a specific height */
  height: 100vw;
  background-color: #FCDCD9;
  position: relative;
   position: sticky;
  position: -webkit-sticky;
  top: 0;

  /* Create the parallax scrolling effect 
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;*/
}
h1 {
            font-size: 11vw;
            line-height: 12vw;
            font-family: 'jetsonvillereg0025-regular';
            font-weight: normal;
            margin: 0;
            padding: 0, 4vw;
            text-align: center;

        }

h2 {
            font-size: 5vw;
            line-height: 6vw;
            font-family: 'jetsonvillereg0025-regular';
            font-weight: normal;
            margin: 0;
            padding: 0, 4vw;
            text-align: center;
        }

.t40 {
    font-size: 4vw;
    line-height: 5vw;
}

.t50 {
    font-size: 5vw;
    line-height: 6vw;
}

.t60 {
    font-size: 6vw;
    line-height: 7vw;
}


p {
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.bullets p {
    text-align: left;
    text-indent: -4.5vw;
    margin-left: 4vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.textblock {
/*    padding: 4vw;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
